<% layout('layouts/boilerplate') -%>

  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
      <div class="form-group">
          <label for="title">Title</label>
          <input required id="title" name="listing[title]" class="form-control" value="<%= listing.title %>" type="text" />
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <textarea required id="description" name="listing[description]" class="form-control">
              <%= listing.description %>
          </textarea>
      </div>
      <div class="form-group">
          <label for="image">Image URL/Link</label>
          <input  id="image" name="listing[image]" class="form-control" value="<%= listing.image %>" type="text" />
      </div>
      <div class="form-group">
          <label for="price">Price</label>
          <input required id="price" name="listing[price]" class="form-control" value="<%= listing.price %>" type="number" />
      </div>
      <div class="form-group">
          <label for="country">Country</label>
          <input required id="country" name="listing[country]" class="form-control" value="<%= listing.country %>" type="text" />
      </div>
      <div class="form-group">
          <label for="location">Location</label>
          <input required id="location" name="listing[location]" class="form-control" value="<%= listing.location %>" type="text" />
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
  </form>
  </body>
</html>